* {
    font-family: 'Work Sans', sans-serif;
    color: #337ab7;
}

.title {
    font-size: 35px;
}

.page-header {
    background-color: transparent;
    border-color: transparent;
    margin-top: 0;
}

.panel-default {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    border: 0;
}

input {
    margin-bottom: 3%;
}

.btn-info {
    background-color: #337ab7;
}

.body {
    min-height: calc(90vh - 70px);
}

footer {
    height: 30px;
}